div.pet {
   position: relative;
   display: flex;
   justify-content: bottom;
   animation-name: move;
   animation-delay: 5s;
   animation-duration: 6s;
   animation-iteration-count: 15;
}

/* .pet {
    display: flex;
    justify-content: bottom;
    animation-name: pet;
    animation-duration: infinite;
} */

@keyframes move {
    0%   {left:0px; bottom:0px;}
    25%  {left:200px; bottom:0px;}
    50%  {left:200px; bottom:200px;}
    75%  {left:0px; bottom:200px;}
    100% {left:0px; bottom:0px;}
  }

#tomo{
    position: relative;
    top: 400px;
    left: 100px;
    border: 10px solid;
    border-color: red;
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
} 

.box {
    color: white;
    border: solid;
    max-width: 40%;
    display: flex;
    justify-content: center;
    position: relative;
    left: 800px;
    background-color: black;
    bottom: 200px;
}
.box2 {
    color: white;
    border: solid;
    font-size: 18px;
    max-width: 40%;
    display: flex;
    justify-content: center;
    position: relative;
    left: 800px;
    background-color: black;
    bottom: 200px;
}
.box3 {
    color: white;
    border: solid;
    max-width: 40%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    position: relative;
    left: 800px;
    background-color: black;
    bottom: 200px;
}

.header {
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: black;
} 

#stat1 {
    margin: 10px;
}
#stat2 {
    margin: 10px;
}
#stat3 {
    margin: 10px;
}
#stat {
    margin: 10px;
}
